.Loader {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1A1A1A;
}

.LoaderDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.animated-loader {
  margin: auto;
  margin-bottom: 3rem;
}

.typewriter h2 {
  color: #fff;
  font-family: monospace;
  font-size: 2rem;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 2s steps(40, end) infinite,
    blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  80% {
    width: 100%;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}


.login-background {
  display: flex;
  /*
  flex-direction: column;
  align-items: center;
  background-image: url(./images/landing\ back.svg);
  background-size: conatin;
  border-radius: 30px;
  width: 50%;
  height: 100vh; */
  width: 100vw;
  height: 100vh;
  background-color: #1A1A1A;
  /* background: linear-gradient(180deg, #1F1F33 0%, rgba(32, 39, 83, 0.89) 100%); */
}

.sign-up,
.login {
  font-family: 'Poppins';
  color: whitesmoke;
  margin: 20px 50px 0 0;
  text-align: right;
}

.login {
  text-align: center;
}

.register-now,
.login-now {
  color: #ffdd55;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.Login-content,
.signup-content {
  width: 50%;
  justify-content: center;
  /* display: flex;
  flex-direction: column;
  justify-content: right; */
}

.yapa-images {
  height: 100vh;
  width: 50vw;
}

.side-images {
  /* position: absolute;
  position: static;
  display: block; */
  /* background-image: url(./images/image\ 1.svg); */
  animation: Background 20s ease infinite;
  animation-fill-mode: forwards;
  /* background-image: url(./images/Yapa\ Logo.svg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 50vw;
  border-radius: 0 30px 30px 0;
  /* margin: 0 0 0 2.5%; */
  /* position: absolute;
  width: 740px;
  height: 1024px;
  left: calc(50% - 740px/2 - 350px);
  top: calc(50% - 1024px/2); */
}

.sign-up-page {
  display: flex;
  /*
  flex-direction: column;
  align-items: center;
  background-image: url(./images/landing\ back.svg);
  background-size: conatin;
  border-radius: 30px;
  width: 50%;
  height: 100vh; */
  width: 100%;
  height: 100vh;
  background-color: #1A1A1A;
  /* background: linear-gradient(180deg, #1F1F33 0%, rgba(32, 39, 83, 0.89) 100%); */
}

.yapa-logo {
  background-image: url(./images/Yapa\ Logo.svg);
  background-size: contain;
  height: 130px;
  width: 200px;
  margin: 50px auto 0;
}

.yapa-logo-signup {
  margin: 10px auto 0;
}

.login-text {
  text-align: center;
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #ffdd55;
  margin: 60px 0 20px 0;
}

.signup-text {
  margin: 15px 0 10px 0;
}

.SignUp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-form input {
  width: 350px;
  height: 50px;
  outline: none;
  background: #f0f0f0;
  border-radius: 10px;
  /* font-size: 1rem; */
  color: #363636;
  font-weight: 600;
  margin: 5px 0;
  padding: .5rem;
}

.SignUp-form input {
  width: 350px;
  height: 50px;
  outline: none;
  background: #f0f0f0;
  border-radius: 10px;
  /* font-size: 1rem; */
  color: #363636;
  font-weight: 600;
  margin: 5px 0;
  padding: .5rem;
}

login-background input {
  padding: 0 10px 0 10px;
  /*
  font-size: 1rem;
  font-weight: 700;
  color: #000057;
  background-color: #ffd09c;
  border-radius: 10px;
  outline: none;
  width: 18vw;
  height: 2.5rem;
  margin: 1.5% 0; */

  /* position: absolute; */
  width: 350px;
  height: 50px;
  outline: none;
  background: #f0f0f0;
  border-radius: 10px;
  font-size: 1rem;
  color: #363636;
  font-weight: 600;
  margin: 5px 0;
}

input:enabled {}

/* input[type=email]{
  margin-top: 30px;
} */

/* input[type=password]{
  margin-top: 20px;
} */

::placeholder {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 1rem;
  /* padding: 0 0 0 10px; */
}

.btn {
  margin: 50px 0 0 0;
  width: 350px;
  height: 3rem;
  border-radius: 15px;
  background-color: #ffdd55;
  /* outline: none; */
  cursor: pointer;
  color: #1a1a1a;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  border: none;
  transition-property: background-color;
  transition-duration: .4s;
}

.btn:hover {
  background-color: #ff922d;
  transition-property: background-color;
}

.signup-btn {
  margin: 10px 0 10px 0;
}

.forgot-password-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  text-align: right;
  margin: 10px 0 0 180px;
}

.other-login {
  text-align: center;
  margin: 2vh 0 0 0;
  color: #b7bacd;
  font-weight: 700;
}

.login {
  margin: 0;
}

.fa {
  color: #ffdd55;
  cursor: pointer;
  margin: 10px 50px;
}

.fa-brands:hover {
  transform: scale(1.2);
}

.fa>* {
  padding: 15px;
}

@keyframes Background {
  from {
    background-image: url(./images/image\ 1.svg);
  }

  27.3% {
    background-image: url(./images/image\ 1.svg);
  }

  33.3% {
    background-image: url(./images/image\ 2.svg);
  }

  60.6% {
    background-image: url(./images/image\ 2.svg);
  }

  66.6% {
    background-image: url(./images/image\ 3.svg);
  }

  93.9% {
    background-image: url(./images/image\ 3.svg);
  }

  99.9% {
    background-image: url(./images/image\ 1.svg);
  }
}

@media screen and (max-width: 768px) {
  .login-background {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .Login-content {
    width: 100%;
  }

  .yapa-images {
    /* visibility: hidden; */
    display: none;
    flex-direction: column;
  }

  .Login-content {
    width: 100vw;
  }

  .yapa-images {
    display: none;
  }

  .signup-content {
    position: absolute;
    width: 100vw;
  }
}